.stLogHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* padding-left: 32px;
    padding-right: 32px; */
    width: 367px;
    justify-self: center;
}
.logname
{   
    margin-top: 40px;
    margin-bottom: 0px;
    width: 105px;
    height: 57.796px;
    flex-shrink: 0;
    color: #380F43;
    font-family: Blinker;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-start;
    
}

.loginimg
{
    padding-top: 86px;
    width: 215px;
    height: 216px;
    flex-shrink: 0;
}

.loginButton
{   margin-bottom: 251px;
    margin-top: 40px;
    border-radius: 9px;
    background: #893CA2;
    box-shadow: 4px 4px 10px 2px rgba(56, 15, 67, 0.25);
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    color: #ECD7F7;
    font-family: Blinker;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.loginInput{
    width: 100% !important;
    margin: 0px !important;
    border-radius: 10px;
    background: #F6EBFC;
    height: 44px;
    flex-shrink: 0;
    color: #CD8CE6;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 30px;
}

.loginSubt
{
    margin-top:7.37px;
    margin-bottom: 0px;
    width: 145px;
    height: 28.283px;
    flex-shrink: 0;
    color: #380F43;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: flex-start;
}

.password-input-container{
    position: relative;
    justify-content: center;
    width: 100% !important;
}

.eyelash-button{
    cursor: pointer;
    position: absolute;
    right:20px;
    border: none;
    background: transparent;
    top: 50%; transform: translateY(-50%);
    padding-top:4px;
}

