.syllabus{
    display: flex;
    flex-direction: column;
}
.syllabusTitle{
    margin-top:50px ;
    margin-bottom: 26px;
    color: #380F43;
    font-family: Blinker;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 12px; 
}

.Pills{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addButtond{
    margin-top: 56px;
    align-self: center;
}