.Dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.Title{
    color: #380F43;
    font-family: Blinker;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 5px;
}

.section{
    padding-top:30px ;
    padding-bottom: 50px;
}
.sections{
 
    display: flex;
    gap: 43px;
    text-align: center;
}
.Title-2{
    color: #380F43;
    font-family: Blinker;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
}
.Message{
    color: #380F43;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.SearchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid rgba(56, 15, 67, 0.20);
}

.SearchIcon{
    width: 15px;
    height: 15px;
    align-self: center;
    justify-self: center;

}

.Cards{
    width: 393px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

/* Centering the loader in the viewport */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;   /* Full width */
    top: 0;
    left: 0;
  }
  .load-inside{
    display: block;
    text-align: center;
    font-family: Blinker;
    font-size: 16px;
  }
  
  .loader {
    width: 120px;
    height: 22px;
    border-radius: 40px;
    color: #514b82;
    border: 2px solid;
    position: relative;
  }
  
  .loader::before {
    content: "";
    margin: 2px;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background: currentColor;
    animation: l3 1s infinite linear;
  }
  
  @keyframes l3 {
    50% { left: 100%; transform: translateX(calc(-100% - 4px)) }
  }
  
.navLog
{
    display:none;
    justify-content: space-between;
    top: 0;
    align-items: center;
    height: 10%;
    display: flex;
    background-color: #FBF6FD;
    z-index: 999;
    padding-top: 48px;
    width: 346px;
}


.logoutBt
{
    align-self:center;
    
}
.MessageSearch
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 40px;
    width: 346px;
}
