.Pill{
    width: 360px;
    box-sizing: border-box;
    display: flex;
    height: 83px;
    padding: 21px 8px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-self: center;
    border-radius: 16px;
}

.pillTitle{
    padding-left: 10px;
    margin: 0px;
    font-family: Blinker;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pillButton{
    box-sizing: border-box;
    width: auto;
    margin: 0px;
    border: none;
    padding: 3px 10px;
    gap: 10px;
    text-align: center;
    border-radius: 5px;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.iconTitle{
    align-items: center;
    display: flex;
}