.allStudent{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
}

.sthead h2{
    color: #380F43;
    font-family: Blinker;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.sthead p{
    color: #380F43;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stsearch input{
    margin: 20px;
}
.stsearch{
    padding-left: 40px;
    margin: 0px;
    color: #CD8CE6;
    font-family: Blinker;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F6EBFC;
}

.sttemplate
{
    align-items:center;
    display: flex;
    flex-direction: column;
    gap:41px;
    padding-bottom: 148px;

}
.stinduvidual
{
    position: relative;
    overflow: hidden;
    padding-top: 24px;
    padding-left: 9px;
    padding-bottom:30px ;
    width: 352px ;
    flex-shrink: 0;
    border-radius: 31px;
    background: #E5EEF9;
    display: flex;
    flex-direction: column;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;   /* Full width */
    position: absolute;
    top: 0;
    left: 0;
  }

.loaderAllST {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1; /* Ensures a square aspect ratio */
    border-radius: 50%; /* Circular shape */
    background: #514b82; /* Background color */
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg), /* Masking for the spinner effect */
      radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b))); /* Inner circle masking */
    -webkit-mask-composite: destination-in; /* Specifies how the mask should interact */
    mask-composite: intersect; /* Intersect mask for proper masking behavior */
    animation: l5 1s infinite; /* Animation for rotation */
}

@keyframes l5 {
    to {
        transform: rotate(.5turn); /* Rotates the element by half a turn (180deg) */
    }
}

.since{
    color: #12273F;
    font-family: Blinker;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.studentName{
    width: 140px;
    text-decoration: none;
    color: #12273F;
    font-family: Blinker;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    word-break: break-word;
}

.studentCourse{
    color: #12273F;
    font-family: Blinker;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 4px;
    margin-bottom: 56px;
}

.grade{
    margin: 0px;
    color: #1C5388;
    font-family: Blinker;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.learn{
    margin: 0px;
    color: #1C5388;
    font-family: Blinker;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.progress{
    margin-right: 9px;
    color: #12273F;
    font-family: Blinker;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    left: 0;
}

.avatar{
    width: 221px;
    height: 221px;
    flex-shrink: 0;
    padding-top: 8px;
}
.nameAvatar{
    
    display: flex;
}
.gradeLearn{

}

.stlearning{
    display: flex;
    justify-content: space-between;
}
.since{
    margin: 0px;
}
.nameCourse{
    margin-top: 59px;
    width: 140px;
}

.tags{
    align-content: center;
    width: 70px;
    margin: 0px;
    text-align: center;
    font-family: Blinker;
    height: 27px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F2D9FF;
    
}

.stfilter{
    margin-top: 10px;
    margin-bottom: 10px;
}

.serachBarContainer{
    position: relative;

}

.searchIcon{
    z-index: 999;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}